/* General body styling */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Main App container */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f2f5;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

/* Chat container */
.chat-container {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 30px 50px rgba(242, 0, 0, 0.4);
  padding: 30px;
  width: 100vw;
  height: 90vh;
  max-width: 600px;
  box-sizing: border-box;
}

/* Heading */
.chat-heading {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Input and button container */
.input-send-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

/* Input field */
.message-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

/* Send button */
.send-button {
  padding: 10px 20px;
  background-color: #2a4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.send-button:hover {
  background-color: #268a26; /* Darker green on hover */
}

/* Messages display area */
.messages-display {
  height: 60vh;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 15px;
  overflow-y: auto;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  /* Custom scrollbar for Webkit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/* Individual message styling */
.message-item {
  margin: 5px 0;
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  color: #555;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-item.highlight {
  background-color: #e6f7ff; /* Highlight latest message */
}

.message-item:not(.highlight) {
  background-color: #f0f8ff; /* Default message background */
}

/* Message content */
.message-content {
  margin-bottom: 4px;
}

/* Message timestamp */
.message-timestamp {
  font-size: 10px;
  color: #888;
  align-self: flex-end;
}